.header-line{
    height: 5px;
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}
a:link {
    text-decoration: none;  
   
}
#des{
    border: 1px solid gray;
   border-top: 3px solid #d3782e;
}
#test1{
border: 1px solid gray;
border-top: 3px solid yellow;
}
#test2{
border: 1px solid gray;
border-top: 3px solid #7600d9;
}

.float-end button{
    border: 1px solid gray
}

.footer-line{
    height: 10px;
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}
.dropdown-menu{
    float: unset;
    right: 0;
    min-width: 57rem;
    top: 140%;
}

